<section id="header">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="box">
                        <h1>YOUR LOCAL GYM IN<br />
                            <div class="blink">IN BURWOOD</div>
                        </h1>
                        <h3><b>ELITEBODY Fitness – place where your body gets its shape! Start training now to stay fit
                                and healthy
                                all
                                year round!</b></h3>
                        <button mat-raised-button color="accent">LEARN MORE</button>
                    </div>
                </div>
                <div class="col-lg-5">

                    <img class="image-fluid" src="../assets/images/header-photo.png" />

                </div>
            </div>
        </div>


    </header>
</section>