<section id="header">
    <header>
        <div class="statement">
            <h1>YOUR LOCAL GYM IN BURWOOD</h1>
            <p>ELITEBODY Fitness – place where your body gets its shape! Start training now to stay fit and healthy all
                year round!</p>
            <button mat-raised-button color="accent">LEARN MORE</button>
        </div>
        <div class="photo">
            <img src="../assets/images/header-photo.png" [routerLink]="['/']" />
        </div>
    </header>
</section>