<section id="footer">
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-lg-7">
                    <div class="container">
                        <div class="row">
                            <div class="col"><img src="../assets/images/footer.png" /></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <li> <button mat-button [routerLink]="['/about']">ABOUT</button></li>
                                    <li> <button mat-button [routerLink]="['/about']">OUR SERVICES</button></li>
                                    <li> <button mat-button [routerLink]="['/about']">EB SHOP</button></li>
                                    <li> <button mat-button [routerLink]="['/about']">TIME TABLE</button></li>
                                    <li> <button mat-button [routerLink]="['/about']">CONTACT US</button></li>
                                </ul>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <ul>
                                    <li> <i class="fab fa-facebook fa-fw"></i> </li>
                                    <li> <i class="fab fa-twitter fa-fw"></i></li>
                                    <li> <i class="fab fa-youtube fa-fw"></i></li>
                                    <li> <i class="fab fa-instagram fa-fw"></i></li>
                                    <li> <i class="fab fa-tiktok fa-fw"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-5">

                    <img class="logo m-2" src="../assets/images/logo.png" [routerLink]="['/']" />

                    <div class="contact">
                        <div class="box">
                            <div class="icon"><i class="fa-solid fa-map-location-dot"></i></div>

                            <div class="box-info">
                                <span class="h5"><b>Address</b></span>
                                <span>Elite Body Fitness
                                    24 Sixth Avenue
                                    Burwood 3125</span>
                            </div>
                        </div>

                        <div class="box m-5">
                            <div class="icon"><i class="fa-solid fa-phone-volume"></i></div>

                            <div class="box-info">
                                <span class="h5"><b>Contact</b></span>
                                <span>Phone: 0455 401 944<br />Email: admin@ebfit.com.au</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </footer>
</section>