<section id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>ABOUT US</h1>
            </div>
        </div>
    </div>
    <div class="spacer-4"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>WHY <b>ELITE BODY </b>FITNESS</h2>
                <p>A common occurrence we see in many Gyms, is that many of those with the potential to improve their
                    Health & Fitness goals fail to get started because the environment doesn’t suit the individual.
                    Members can be intimidated by others, the classes are not appropriate for the individual's
                    capabilities or there may be issues with their membership such as lock in contracts.</p>
                <p>Elite Body Fitness has solutions to all of these problems by providing flexibility with our classes
                    to suit you at any level, flexibility with our membership options and most importantly, we do our
                    very best to create an inviting and motivating environment for you to progress at your own pace!</p>
            </div>
            <div class="col-lg-6"><iframe width="100%" height="315" src="https://www.youtube.com/embed/oMilfXjvuAs"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe></div>
        </div>
    </div>

    <div class="spacer-4"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid" src="../assets/images/bar.png" />
            </div>
            <div class="col-lg-6">
                <h2>OUR <b>MISSION</b> IN <b>BURWOOD</b></h2>
                <p>Another common occurrence we have found is that many people can achieve some great transformation
                    results only to find themselves back at square one 6 months or 12 months later. This may be due to
                    unsustainable dietary habits, chronic inflammation from over training, injuries caused from over
                    training or performing exercises at a level of intensity that impedes technique. You may be someone
                    who has experienced one of these issues before! </p>
                <p>The focus of our programs is to create life-changing transformations. That is, the results you
                    achieve at Elite Body Fitness, are retained indefinitely and/or you see further improvement. This is
                    achieved by carefully structuring our training sessions to adapt to the many variables of the
                    individuals goals, capabilities and lifestyle. We start the process by finding exactly what it is
                    that has held you back in the past from progressing towards the Health & Fitness outcomes you have
                    always dreamt of!</p>
            </div>

        </div>
    </div>
    <div class="spacer-4"></div>
</section>