<section id="lease">
    <div class="container">
        <div class="spacer-3"></div>
        <h1 class="text-center"><b>FACILITY HIRE</b></h1>
        <h2 class="text-center">You can lease out a room at Elite Body Fitness!</h2>
        <div class="row">
            <div class="col"> <img mat-card-image src="../assets/images/lease.jpg" alt="Facility Hire"></div>
        </div>
        <div class="row">
            <div class="col">
                <div class="spacer-2"></div>
                <h2><b>SERVICE OVERVIEW</b></h2>

                <p>Hiring a gym facility can be beneficial for individuals who are looking to work out in a private and
                    well-equipped space</p>
                <h2>
                    Options include
                </h2>
                <ul>
                    <li>
                        Gymnasium

                    </li>
                    <li>Yoga Room</li>
                    <li>Board Room
                    </li>
                </ul>
                <button mat-raised-button color="accent">ENQUIRE HERE</button>
            </div>
        </div>
    </div>

</section>