<section id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>CONTACT US</h1>
            </div>
        </div>
    </div>
    <div class="spacer-5"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fa-solid fa-phone"></i>
                <h2><b>Call Now</b></h2>
                <h3>+61 0455 401 944</h3>

            </div>
            <div class="col-md-4"> <i class="fa-solid fa-envelope"></i>
                <h2><b>Email Us</b></h2>
                <h3><a href="mailto: admin@ebfit.com.au">admin@ebfit.com.au</a></h3>
            </div>
            <div class="col-md-4"><i class="fa-solid fa-location-dot"></i>
                <h2><b>Location</b></h2>
                <h3 class="text-center">Elite Body Fitness 24<br /> Sixth Avenue Burwood 3125</h3>
            </div>
        </div>
    </div>
    <div class="spacer-5"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-subtitle>CONTACT US</mat-card-subtitle>
                        <mat-card-title>Get in touch with us</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                                <mat-label>Your name</mat-label>
                                <input matInput placeholder="Full name">
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <mat-label>Phone</mat-label>
                                <input matInput placeholder="Phone number">
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <mat-label>Leave a comment</mat-label>
                                <textarea matInput placeholder="Tell us your goals."></textarea>
                            </mat-form-field>
                        </form>
                        <mat-divider></mat-divider>
                    </mat-card-content>
                    <mat-card-actions>
                        <button color="accent" mat-raised-button>SUBMIT</button>
                        <button mat-raised-button>RESET</button>
                    </mat-card-actions>

                </mat-card>

            </div>
            <div class="col-lg-6"> </div>
        </div>
    </div>
    <div class="spacer-6"> </div>
</section>