<section id="training">
    <div class="container">
        <div class="spacer-3"></div>
        <h1 class="text-center"><b>PERSONAL TRAINING</b></h1>
        <h2 class="text-center">Do you feel stuck?</h2>
        <div class="row">
            <div class="col"> <img mat-card-image src="../assets/images/training.jpg" alt="Facility Hire"></div>
        </div>
        <div class="row">
            <div class="col">
                <div class="spacer-2"></div>
                <h2><b>SERVICE OVERVIEW</b></h2>

                <p>Our Personal Trainers will help you overcome the obstacles that have stopped you from achieving the
                    Health & Fitness goals that you truly dream of! If you’re unsure, simply book in a free, no
                    obligation consultation to see how we can help you!</p>

                <button mat-raised-button color="accent">ENQUIRE HERE</button>
            </div>
        </div>
    </div>

</section>