<section id="services">
    <div class="container">
        <h1 class="text-center">SERVICES</h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <mat-card>
                        <div>
                            <mat-card-header>
                                <div mat-card-avatar><i class="fa-solid fa-stopwatch-20 fa-3x"></i></div>
                                <mat-card-title>FREE 2 Week Trial?? Yes Please!!</mat-card-title>
                                <mat-card-subtitle>Work out together in an outdoor environment</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="../assets/images/free-small.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                            </mat-card-content>
                        </div>
                        <div>
                            <mat-card-actions>
                                <button mat-raised-button color="accent">GET DETAILS</button>
                            </mat-card-actions>
                        </div>
                    </mat-card>
                    <mat-card>
                        <div>
                            <mat-card-header>
                                <div mat-card-avatar><i class="fa-solid fa-umbrella-beach fa-3x"></i></div>
                                <mat-card-title>Summer bodies are made in Winter!!</mat-card-title>
                                <mat-card-subtitle>
                                    8 WEEK WINTER CHALLENGE</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="../assets/images/outdoor-small.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>

                            </mat-card-content>
                        </div>
                        <div>
                            <mat-card-actions>
                                <button mat-raised-button color="accent">GET DETAILS</button>
                            </mat-card-actions>
                        </div>
                    </mat-card>
                    <mat-card>
                        <div>
                            <mat-card-header>
                                <div mat-card-avatar><i class="fa-solid fa-person fa-3x"></i></div>
                                <mat-card-title>Do you feel stuck?</mat-card-title>
                                <mat-card-subtitle>
                                    PERSONAL TRAINING IS AVAILABLE
                                </mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="../assets/images/training-small.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>

                            </mat-card-content>
                        </div>
                        <div>
                            <mat-card-actions>
                                <button mat-raised-button color="accent">GET DETAILS</button>
                            </mat-card-actions>
                        </div>
                    </mat-card>
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar><i class="fa-solid fa-person-shelter fa-3x"></i></div>
                            <mat-card-title>You can lease out a room at Elite Body Fitness!
                            </mat-card-title>
                            <mat-card-subtitle>
                                FACILITY HIRE
                            </mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../assets/images/lease-small.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="accent">GET DETAILS</button>
                        </mat-card-actions>
                    </mat-card>
                </div>



            </div>


        </div>

    </div>
</section>