<section id="mattt">
    <div class="spacer-4"></div>
    <div class="container">
        <div class="row text-center">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="img-box">
                    <img class="image-fluid" src="../assets/images/matt.png" />
                </div>
            </div>
            <div class="col-2"></div>

        </div>
        <div class="spacer-4"></div>
        <div class="row">
            <div class="col">
                <h2>COACHING STAFF</h2>
                <h1>MATTHEW <b>(MATT)</b> TOWNSEND</h1>
                <h3>Programs Coordinator</h3>
                <p>Matt has worked with and helped hundreds of clients from a number of
                    Transformation Challenge Winners to Professional Athletes, Bodybuilders,
                    Military Personnel, Special Needs, Shift Workers, Desk Workers to curing
                    chronic pain and just about everybody in between.</p>
                <p>With more than 15 years experience working with people from all walks of life, along with learning
                    from many world renowned experts, Matt has developed programs for many of his different clients with
                    many different goals and aspirations. These programs are available at Elite Body Fitness. </p>
                <p>If you feel like you are stuck and are lost for solutions, you can book a consultation with Matt and
                    his team, to find out exactly where the problems lie, how we can help you overcome those pesky
                    obstacles and move you towards achieving the Health & Fitness you have always dreamt of!</p>

            </div>
        </div>
        <div class="spacer-3"></div>
        <div class="row">
            <div class="col">
                <eb-contactform></eb-contactform>
            </div>
        </div>
        <div class="spacer-3"></div>
    </div>


</section>