<section id="navigation">
    <div class="logo">
        <img class="logo" src="../assets/images/logo.png" [routerLink]="['/']" />
    </div>
    <div class="menu-social">
        <div class="menu">
            <button mat-raised-button color="primary">About Us</button>
            <button mat-raised-button color="primary">Our Services</button>
            <button mat-raised-button color="primary">EB Shop</button>
            <button mat-raised-button color="primary">Time Table</button>
            <button mat-raised-button color="primary">Contact Us</button>
        </div>
        <div class="social">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-tiktok"></i>
        </div>
    </div>
</section>