<ng-container *ngIf="desktop; else mobile">
    <section id="navigation">
        <div class="logo">
            <img class="logo" src="../assets/images/logo.png" [routerLink]="['/']" />
        </div>
        <!-- <div>
            <h1 class="text-light">WEBSITE UNDER CONSTRUCTION (information under corrections)</h1>
        </div> -->
        <div class="menu-social">
            <div class="menu">
                <button mat-raised-button color="primary" [routerLink]="['about']">ABOUT US</button>
                <button mat-raised-button color="primary" [routerLink]="['services']" mat-button
                    [matMenuTriggerFor]="services">SERVICES</button>
                <mat-menu #services="matMenu">
                    <button mat-menu-item [routerLink]="['trial']">FREE TRIAL OUTDOOR</button>
                    <button mat-menu-item [routerLink]="['challenge']">SUMMER BODIES CHALLENGE</button>
                    <button mat-menu-item [routerLink]="['training']">PERSONAL TRAINING</button>
                    <button mat-menu-item [routerLink]="['lease']">LEASE A ROOM</button>
                </mat-menu>
                <button mat-raised-button color="primary">SHOP</button>
                <button mat-raised-button color="primary">TIME TABLE</button>
                <button mat-raised-button color="primary">CONTACT</button>
            </div>
            <div class="social">
                <i class="fab fa-facebook fa-fw"></i>
                <i class="fab fa-twitter fa-fw"></i>
                <i class="fab fa-youtube fa-fw"></i>
                <i class="fab fa-instagram fa-fw"></i>
                <i class="fab fa-tiktok fa-fw"></i>
            </div>
        </div>
    </section>
</ng-container>

<ng-template #mobile>
    <section id="navigation">
        <div> <img class="logo" src="../assets/images/logo-small.png" [routerLink]="['/']" /></div>
        <div>
            <div class="social">
                <i class="fab fa-facebook fa-2x"></i>
                <i class="fab fa-twitter  fa-2x"></i>
                <i class="fab fa-youtube  fa-2x"></i>
                <i class="fab fa-instagram  fa-2x"></i>
                <i class="fab fa-tiktok fa-2x"></i>
            </div>
        </div>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon class="text-light">more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>sports_gymnastics</mat-icon>
                    <span>ABOUT US</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>fitness_center</mat-icon>
                    <span [routerLink]="['services']">SERVICES</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>shopping_cart</mat-icon>
                    <span>SHOP</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>pending_actions</mat-icon>
                    <span>TIME TABLE</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>call</mat-icon>
                    <span>CONTACT</span>
                </button>
            </mat-menu>
        </div>


    </section>
</ng-template>