//Fonts
$font-body: 'Comfortaa', cursive;
$font-button: M PLUS Rounded 1c;
$font-statement: 'Pacifico', cursive;

//Primary
$primary-100: hsl(193, 98%, 63%);
$primary-200: hsl(193, 98%, 73%);
$primary-300: hsl(193, 98%, 83%);

//Secondary
$secondary-100: hsl(356, 80%, 48%);
$secondary-200: hsla(228, 100%, 27%, .5);
$secondary-300: hsla(228, 100%, 27%, .2);
$secondary-400: hsla(228, 100%, 27%, .1);

$black-100: hsl(0, 0%, 0%);
$black-200: hsl(0, 0%, 10%);
$black-300: hsl(0, 0%, 20%);

$tertiary-100: #FF5723;
$white-100: #ffffff;
$border-radius: 25px;
$border-radius-25: 25%;
$border-circle: 50%;
$border-fancy: 50% 50% 100% 0% / 100% 50% 50% 0%;

$margin: 6vw 0;
$container-padding: 3vw 10px;

$margin-top: 25px;

$gradiant-background: linear-gradient(to right top, #42d3fd, #85d9ff, #b1dfff, #d2e6ff, #eaefff, #eaefff, #eaefff, #eaefff, #d2e6ff, #b1dfff, #85d9ff, #42d3fd);
$box-shadow-1: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
$box-shadow-2: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$box-shadow-3: rgba(0, 0, 0, 0.1) 0px 10px 50px;
$box-shadow-4: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;