<eb-header></eb-header>

<section id="body">
    <div class="spacer-1"></div>
    <div class="container ">
        <div class="row">
            <div class="col text-center">
                <h1><b>EXERCISE</b> IN THE<b> GYM</b> </h1>
                <p>Check what we offer to our visitors and try all these physical activities that keep your body in
                    great shape and your mind clear!</p>
            </div>
        </div>
    </div>
    <div class="spacer-2"></div>
    <!-- Bubbles -->
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <div class="bubble"><i class="fa-sharp fa-solid fa-dumbbell fa-3x"></i></div>
                <h4>Gym</h4>
            </div>
            <div class="col-lg">
                <div class="bubble"><i class="fa-sharp fa-solid fa-person-running fa-3x"></i></div>
                <h4>Personal Trainer</h4>
            </div>
            <div class="col-lg">
                <div class="bubble"><i class="fa-sharp fa-solid fa-people-group fa-3x"></i></div>
                <h4>Group Sessions</h4>
            </div>
            <div class="col-lg">
                <div class="bubble"><i class="fa-solid fa-person-biking fa-3x"></i></div>
                <h4>Corporate Fitness</h4>
            </div>
            <div class="col-lg">
                <div class="bubble"><i class="fa-solid fa-heart-pulse fa-3x"></i></div>
                <h4>Cardio Workouts</h4>
            </div>
        </div>
    </div>

    <div class="spacer-2"></div>

    <!-- Packages -->
    <section id="packages">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <img class="image-fluid" src="../assets/images/package.png" />
                </div>
                <div class="col-lg flex-info">
                    <div>
                        <h1>
                            THE <b>PERSONAL TRAINER</b> IS A <b>SAFE WORKOUT</b></h1>
                        <p>Where it has Outdoor Group Fitness / Youth Sports Development / Personal Training / Mums and
                            Bubs
                        </p>
                        <ul>
                            <li><i class="fa-solid fa-check fa-2x"></i>Fit & Lean Package</li>
                            <li><i class="fa-solid fa-check fa-2x"></i>Strength Package</li>
                            <li><i class="fa-solid fa-check fa-2x"></i>Personal Training</li>
                            <li><i class="fa-solid fa-check fa-2x"></i>Facility Hire</li>
                        </ul>
                        <button class="my-4" mat-raised-button color="accent">LEARN MORE</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Offer -->
    <section id="offer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div>
                        <h1>
                            THE <b>15% OFF</b> FOR <br />
                            <b>ALL NEW ATTENDEES!</b>
                        </h1>
                        <h3>We are happy to announce that EBFIT is under new management and all new attendees get 15 %
                            OFF on joining fees
                        </h3>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Staff -->
    <section id="staff">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 grad-bg"> <img class="image-fluid" src="../assets/images/matt.png" />
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <h2>COACHING STAFF</h2>
                                    <h1>MATTHEW <b>(MATT)</b> TOWNSEND</h1>
                                    <h3>Personal Trainer</h3>
                                    <p>Matt will design a workout plan that is tailored to your specific needs and
                                        goals. This means
                                        that you will be doing exercises that are appropriate for your fitness level,
                                        and that are
                                        designed to help you achieve your goals.</p>
                                    <p>Matt is expert at keeping his clients motivated. He will push you to work harder
                                        than you
                                        would
                                        on your own, and he will encourage you to keep going when you feel like giving
                                        up.</p>
                                </div>
                            </div>
                        </div>
                        <div class="spacer-1"></div>
                    </div>

                </div>
                <div class="col-lg">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 grad-bg"> <img class="image-fluid" src="../assets/images/mat.png" />
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <h2>COACHING STAFF</h2>
                                    <h1>MATTHEW <b>(MATT)</b> TOWNSEND</h1>
                                    <h3>Personal Trainer</h3>
                                    <p>Matt will design a workout plan that is tailored to your specific needs and
                                        goals. This means
                                        that you will be doing exercises that are appropriate for your fitness level,
                                        and that are
                                        designed to help you achieve your goals.</p>
                                    <p>Matt is expert at keeping his clients motivated. He will push you to work harder
                                        than you
                                        would
                                        on your own, and he will encourage you to keep going when you feel like giving
                                        up.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </section>

    <section id="cards">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 mt-4">
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar><i class="fa-solid fa-cloud-sun fa-3x"></i></div>
                            <mat-card-title>OUTDOOR GROUP FITNESS TRAINING</mat-card-title>
                            <mat-card-subtitle>Work out together in an outdoor environment</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../assets/images/1.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <p>
                                Mainly originated to help recovering patients to re-educate their muscles to go on with
                                their day to
                                day work by physical therapists, Fitness Functional Training has become a top…
                            </p>
                        </mat-card-content>
                        <!-- <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions> -->
                    </mat-card>
                </div>
                <div class="col-lg-6 mt-4">
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar><i class="fa-solid fa-medal fa-3x"></i></div>
                            <mat-card-title>YOUTH SPORTS DEVELOPMENT</mat-card-title>
                            <mat-card-subtitle>
                                Developing youth's physical, mental, and emotional abilities through sports and physical
                                activities</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../assets/images/2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <p>
                                At EliteBody Fitness, youth ages 10 through 17 years can participate in our Youth Sports
                                Development program. With Functional Training as the modern day super effective way to…
                            </p>
                        </mat-card-content>
                        <!-- <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions> -->
                    </mat-card>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-6 mt-4">
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar><i class="fa-solid fa-dumbbell fa-3x"></i></div>
                            <mat-card-title>PERSONAL TRAINING</mat-card-title>
                            <mat-card-subtitle>Provide advice on nutrition, lifestyle changes, and injury
                                prevention</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../assets/images/3.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <p>
                                An intimate one on one experience in our studio with your experienced trainer will
                                ensure
                                you are performing at your absolute best! By perfecting your form tailoring your
                                nutrition…
                            </p>
                        </mat-card-content>
                        <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
                    </mat-card>
                </div>
                <div class="col-lg-6 mt-4">
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar><i class="fa-solid fa-child-reaching fa-3x"></i></div>
                            <mat-card-title>MUMS AND BUBS</mat-card-title>
                            <mat-card-subtitle>Outdoor group fitness training is a form of exercise where a group of
                                people
                                work out together in an outdoor environment</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../assets/images/4.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <p>
                                Mums and Bubs Class are designed specifically for a safe return to exercise and
                                rebuilding your body from the inside out. Rebuild Your Core, Modified for Prolapse,
                                Abdominal…
                            </p>
                        </mat-card-content>
                        <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
                    </mat-card>
                </div>
            </div>


        </div>
    </section>




</section>