<section id="header">
    <header>
        <img class="img-fluid" src="../assets/images/slide1.jpg" [routerLink]="['/']" />
    </header>
</section>
<section id="body">
    <div class="container-fluid">
        <hr>
        <div class="row">
            <div class="col-lg"> <img class="img-fluid" src="../assets/images/1.jpg">
                <h1>OUTDOOR GROUP FITNESS TRAINING</h1>
                <p>Mainly originated to help recovering patients to re-educate their muscles to go on with their day to
                    day work by physical therapists, Fitness Functional Training has become a top…</p>
            </div>
            <div class="col-lg"> <img class="img-fluid" src="../assets/images/2.jpg">
                <h1>YOUTH SPORTS DEVELOPMENT
                </h1>
                <p>At EliteBody Fitness, youth ages 10 through 17 years can participate in our Youth Sports Development
                    program. With Functional Training as the modern day super effective way to…</p>
            </div>
            <div class="col-lg"> <img class="img-fluid" src="../assets/images/3.jpg">
                <h1>PERSONAL TRAINING</h1>
                <p>An intimate one on one experience in our studio with your experienced trainer will ensure you are
                    performing at your absolute best! By perfecting your form tailoring your nutrition…</p>
            </div>
            <div class="col-lg"> <img class="img-fluid" src="../assets/images/4.jpg">
                <h1>MUMS AND BUBS</h1>
                <p>Mums and Bubs Class are designed specifically for a safe return to exercise and rebuilding your body
                    from the inside out. Rebuild Your Core, Modified for Prolapse, Abdominal…</p>
            </div>
        </div>

    </div>
</section>
<section id="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg"> <img class="logo" src="../assets/images/logo.png" [routerLink]="['/']" /></div>
                <div class="col-lg">
                    <h5>Address</h5>
                    <p>Elitebody Fitness
                        24 Sixth Avenue Burwood 3125</p>
                    <p>Phone: 0455 401 944</p>
                </div>
                <div class="col-lg"></div>
                <div class="col-lg"></div>
            </div>
        </div>
    </footer>

</section>