<section id="lease">
    <div class="container">
        <div class="spacer-3"></div>
        <h1 class="text-center"><b>8 WEEK WINTER CHALLENGE</b></h1>
        <h2 class="text-center">Summer bodies are made in Winter!!</h2>
        <div class="row">
            <div class="col"> <img mat-card-image src="../assets/images/outdoor.jpg" alt="Challenge">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="spacer-2"></div>
                <h2><b>SERVICE OVERVIEW</b></h2>

                <p>Hiring a gym facility can be beneficial for individuals who are looking to work out in a private and
                    well-equipped space</p>
                <h2>
                    Access selected sessions for
                </h2>
                <ul>
                    <li>
                        Before & After Body Scans (Value $80)
                    </li>
                    <li>Daily Nutrition & Motivational Guidance</li>
                    <li>Exclusive Facebook Group
                    </li>
                    <li>$500 Grand Prize + more to be won!</li>
                    <li>Join with or without an Elite Body Membership</li>
                    <li>Starts Monday, 1st of May, 2023</li>
                </ul>
                <button mat-raised-button [routerLink]="['/contact']" color="accent">ENQUIRE HERE</button>
            </div>
        </div>
    </div>

</section>