<section id="notify">
    <div *ngIf="!status" class="notify-box fail">
        <div class="header">

            <h3>Notification </h3>
            <div class="counter">
                Closing in ({{counter}})

            </div>

        </div>
        <small>{{message}}</small>

        <mat-icon (click)="closeNotify()">close</mat-icon>
    </div>
    <div *ngIf="status" class="notify-box pass">
        <div class="header">

            <h3>Notification </h3>
            <div class="counter">
                Closing in ({{counter}})

            </div>

        </div>
        <small>{{message}}</small>
        <mat-icon (click)="closeNotify()">close</mat-icon>
    </div>
</section>